---
# A solid foundation for formatting
BasedOnStyle: LLVM
# I love my 4-space indentation
IndentWidth: 4

# Force pointers to the type for C++
DerivePointerAlignment: false
PointerAlignment: Left

AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes

ColumnLimit: 70
...

